 #thoughts {
     font-family:helvetica;
     line-height:1.5em;
     width:70%;
     background:rgb(166, 135, 166);
     margin-left: 15px;
     border:5px groove rgb(100, 6, 110);

 }
 #text{
     margin-left:15px;
     color: rgb(69, 4, 69)
 }
 #blog {
     width:1000px;
     margin: auto;
     z-index:1;

 }

#pic2 {
  width: 100%;
  max-width: 1000px;
}
h1 {
  background-image: url("https://raw.githubusercontent.com/LilithN/Practice-Exercises/master/Project-Blog/Pics/digital-348977_960_720.jpg");
  height: 100px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: auto;
  color: #38314f;
  text-shadow: 3px 3px black;
  text-transform: uppercase;

}
body {
  align-items: center;
  background-color: black;
}
h3 {
  color: white;
}
h2 {
    color: white;
    text-decoration: underline;
}
h5 {
    color: white;
}
ul {
  color: white;
}
a:link {
  color: violet;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: lightblue;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
